h1 + h2 {
	margin-bottom: 5.875rem;
}

main h4 {
  margin-bottom: auto;
}

.row main > .row {
	max-width: 97.5%;
	margin-left: -0.46875rem;
}

.panel {
	height: 20.5rem;
}
	.panel dd ul {
  	max-width: 13.375rem;
  	margin-left: auto;
  	margin-right: auto;
  }

	.panel:last-of-type dd > ul {
  	padding-left: 1.125rem;
  }

	.panel:first-of-type dd > ul {
  	padding-left: 2.75rem;
  }

	.panel dt, 
	.panel dt:before {
	  border-radius: 100rem;
	}

	.panel dt {
		position: relative;
		width: 13.375rem;
		max-width: none;
		height: 13.375rem;
		margin-top: -5.6875rem;
	  padding: 3.875rem 1.375rem 1.375rem 1.375rem;
		font-size: 1.875rem;
		font-weight: bold;
		text-align: center;
		text-transform: uppercase;
	  background: rgb(255,205,0);
		background: -webkit-linear-gradient(top,  rgba(255,205,0,1) 0%,rgba(255,172,0,1) 100%);
		background: linear-gradient(to bottom,  rgba(255,205,0,1) 0%,rgba(255,172,0,1) 100%);
	  box-shadow: 0 0.25rem 0.25rem rgba(0,0,0,0.3);
	  z-index: 1;
	}
		.panel dt:after, 
		.panel [id*="tick"] {
			position: absolute;
			top: 0.75rem;
			right: 0.75rem;
			bottom: 0.75rem;
			left: 0.75rem;
			width: 12rem;
			height: 12rem;
		}
		.panel dt:after {
			content: '';
			z-index: -1;
			background: white;
			border-radius: 12.5rem;
	  	box-shadow: 0 0.25rem 0.25rem #ffcd00;
		}
		.panel [id*="tick"] {
			z-index: 0;
			padding: 0.25rem;
		}
			.panel [id*="tick"] path {
				fill: #232323;
				opacity: 0.1;
			}

		.panel dt small {
			display: block;
			font-size: 50%;
			font-weight: bold;
			text-transform: none;
		}

	.panel li {
		letter-spacing: -0.1px;
    margin-bottom: 1rem;
  }