main > nav {
	margin-top: -1.625rem;
	margin-bottom: 2rem;
}

main li {
	margin-bottom: 0.5rem;
}

[data-tab="complications"] {
  padding: 0.75rem 1.875rem;
}
	[data-tab="complications"] ul {
		padding-left: 1rem;
	}
[data-tab="risk_factors"],
[data-tab="risk_factors"].row {
  max-width: 95%;
  margin-top: 3.5rem;
  margin-left: 0;
}
	[data-tab="risk_factors"] figure {
		height:11.375rem;
	}

	[data-tab="risk_factors"] figure.column, 
	[data-tab="risk_factors"] figure.columns {
		padding-left: 0.25rem;
		padding-right: 0.25rem;
		margin-bottom: 1.25rem;
	}

	[data-tab="risk_factors"] figcaption {
    height: 3.5rem;
    text-align: center;
    font-weight: 500;
    width: 90%;
    margin-left: 5%;
    padding-top: 0.625rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
	}
		[data-tab="risk_factors"] figcaption:before {
	    content: '';
	    height: calc(100% - 0.5rem);
	    width: calc(100% - 0.5rem);
	    display: block;
	    position: absolute;
	    top: 0.25rem;
	    left: 0.25rem;
	    border-radius: 0.375rem;
	    box-shadow: 0 -1px 1px rgba(255,255,255,0.5) inset;
	  }
		[data-tab="risk_factors"] figcaption div {
			display: inline-block;
			vertical-align: middle;
			border-bottom-right-radius: 0.5rem;
			border-bottom-left-radius: 0.5rem;
    }
			[data-tab="risk_factors"] figcaption div.single-line {
				padding-top: 0.5rem;
			}

#patient {
  height: 18rem;
  margin-left: 2.25rem;
  margin-top: 1rem;
}

#stint {
	width: 19.4375rem;
	position: absolute;
	margin-top: 1.25rem;
}

main > p {
  bottom: 6rem;
  padding-left: 1.5rem;
}