main > h2 {
	margin-bottom: 1.25rem;
}

main > nav {
  position: relative;
  z-index: 1;
  margin-bottom: 2.3125rem;
}

	main > nav button, 
	main > nav .button {
    min-width: 14rem;
  }

main > p {
	position:absolute;
	bottom: 0;
}

h1 {
	letter-spacing: -0.5px;
	white-space: nowrap;
}

figure.background img {
	width: 14.875rem;
	margin-top: 12.8125rem;
	margin-left: -3rem;
}

/* Accordions */
.accordions-wrapper {
  margin-left: 11.625rem;
  width: calc(100% - 12.625rem);
  margin-right: 1rem;
}
	.accordions-wrapper h2 {
		margin-bottom: 0.4375rem;
		margin-left: 3rem;
	}

/* Panel */
.panel {
	width:100%;
	display:block;
  padding-bottom: 1.75rem;
  border-bottom: solid 0.25rem #6fbf4a;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  box-shadow: 0 0.1875rem 0.1875rem rgba(0,0,0,0.3);
}
	.panel:nth-of-type(n+2){
		margin-top: 2rem;
	}

  .panel dt {
    max-width: 55%;
    margin-top: 0.125rem;
    margin-bottom: 1.4375rem;
    padding-top: 1rem;
    padding-bottom: 0.625rem;
    font-size: 1.25rem;
    font-weight: 300;
    background: transparent url(../img/graphic-hr.png) center bottom no-repeat;
    background-size: 100% 0.125rem;
  }

  .panel dd,
  .panel dt {
    text-align: center;
  }

  .panel dd {
  	max-width: 51%;
    font-size: 1.125rem;
    font-weight: 700;
    color: #3d1951;
  }

/* ID Specific */
#dosing_formula {
  width: calc(100% + 0.25rem);
  margin-left: -0.4375rem;
  margin-top: -0.25rem;
}

#dosing_table {
	position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
  max-height: 31.5rem;
  margin-top: -3.375rem;
  width: calc(100% - 1rem);
  height: 100%;
  z-index: 0;
  background: linear-gradient(to bottom, white 0, white 66%, rgba(255,255,255,0) 100%);
  box-shadow: 0 -1px 1px rgba(61, 25, 81, 0.3);
}
	#dosing_table > tbody {
    overflow: hidden;
    width: 100%;
    display: block;
    height: calc(100% - 87px);
    margin-top: 87px;
    position: relative;
  }
  #dosing_table tbody tr:nth-of-type(odd) {
  	background: transparent;
  }
		#dosing_table table tbody {
	    padding-bottom: 2rem;
	  }
		#dosing_table table td,
		#dosing_table caption {
			text-align: center;
		}

#dosing_table_units {
	width: 100%;
  font-weight: normal;
  padding: 0.5rem 0 0;
  font-size: 1rem;
  top: -1px;
}
	#dosing_table_units .columns {
		text-align: center;
	}
	#dosing_table_units .columns:first-of-type {
		width: 15%;
	}
	#dosing_table_units .columns:nth-of-type(2) {
		width: 16%;
	}
	#dosing_table_units .columns:nth-of-type(3) {
		width: 33.5%;
	}
	#dosing_table_units .columns:nth-of-type(4) {
		width: 35%;
		float: left;
	}

	#dosing_table caption,
	#dosing_table_units {
	  position: absolute;
	  z-index: 2;
	  background-color: white;
	}
		#dosing_table caption {
	  	top: 0;
	  	width: calc(100% - 2rem);
		  font-size: 1.125rem;
		  font-weight: 700;
			margin-right: 1rem;
			margin-left: 1rem;
		  padding-top: 2.5rem;
			padding-bottom: 0.5rem;
		  border-bottom: solid 1px #c8c8c8;
		}
			#dosing_table caption .columns {
				padding-left: 0.25rem;
		    padding-right: 0.25rem;
			}
				#dosing_table caption .columns:nth-child(n+2) {
					width: 37.5%;
				}
				#dosing_table caption .columns:nth-child(1) {
					padding-top: 1rem;
				}
		#dosing_table caption small {
			font-size: 1rem;
			font-weight: 300;
		}
		#dosing_table_scroller:after {
			content: '';
			position: absolute;
			z-index: 2;
	    width: 100%;
	    left: 0;
	    top: 0;
	    height: 2.5rem;
	    pointer-events: none;
	    background: linear-gradient(to bottom, white 0, white 33%, rgba(255,255,255,0) 100%);
		}
		#dosing_table tbody td {
			border-top-width: 0;
			background-color: transparent;
		}
			#dosing_table tbody td.highlight, 
			#dosing_table tbody th.highlight {
    		color: #3d1951;
    		font-weight:bold;
			  background-color: #6fbf4a;
			}
		  #dosing_table tbody td.highlight.alternate, 
		  #dosing_table tbody th.highlight.alternate {
		    background-color: #bee3ad;
		  }

/* iScroller */
.iScrollVerticalScrollbar {
    position: absolute;
    z-index: 9999;
    width: 10px;
    bottom: 2px;
    top: 2px;
    right: 0px;
    overflow: hidden;
    pointer-events: none;
}
.iScrollIndicator{
	box-sizing: border-box;
    position: absolute;
    background:#3d1951;
    border: 1px solid rgba(255, 255, 255, 0.901961);
    border-radius: 3px;
    width: 100%;
    transition-duration: 0ms;
    display: block;
    height: 167px;
    transform: translate(0px, 0px) translateZ(0px);
    transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1);
}

#dosing_table_scroller {
	position: absolute;
	z-index: 1;
	top: 1.5rem;
	bottom: 3rem;
	left: 0;
	width: 100%;
	height: 340px;
	overflow: hidden;
}
	#dosing_table_scroller table{
		padding-top: 1.75rem;
	}