h1 + h2 {
  margin-bottom: 3.125rem;
}
main nav figure,
main nav figure.columns {
	margin-right: 1.4375rem;
  width: calc(50% - 2rem);
}
main button img,
main .button img {
  margin-right: 0;
  padding-right: 1rem;
}
main figcaption {
  overflow: hidden;
  min-height: 4rem;
}
main figure >  *[data-href]:after {
  content: '';
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  width: calc(100% - 1rem);
  height: calc(100% - 1rem);
  border-radius: 0.5rem;
  border: solid 2px white;
  opacity: 0.3;
  z-index: 1;
}
main > nav button.tucked-top:first-of-type, 
main > nav .button.tucked-top:first-of-type {
	margin-left: 0.625rem;
}

button.tucked-top, 
.button.tucked-top {
  width: calc(100% - 1.25rem);
  padding-top: 0.75rem;
}
	button.tucked-top span, 
	.button.tucked-top span {
    display: inline-block;
    vertical-align: middle;
    padding-left: 0.75rem;
  }

#txt-kenneth {
  width: 5.625rem;
}
	#txt-kenneth + span {
		vertical-align: -0.1875rem;
	}
#txt-rafael {
  width: 4.5rem;
}
	#txt-rafael + span {
		vertical-align: 0;
	}
img[id*="txt"] {
  background-image: url(../img/divider.gif);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 0.125rem 1.875rem;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
}
.disclaimer .undent {
  margin-left: -0.5rem;
}